
*{
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 100px;
    
}
.logo{
    width: 50%;

}
h3{
    text-align: center;
    font-size: 35px;
    margin-top: 30px;
    color: #1995c1;
    margin-right:120px;
}
.inputt{
    width: 50%;
}
.btn{
    margin-top: 30px;
    height: 38px;
    width: 150px;
    margin-left: 10px;
    border:2px solid  rgb(81, 180, 125);
    background-color:white ; 
    color:rgb(81, 180, 125)
    


}
.tbn{
    height: 38px;
    width: 130px;
    margin-left: 10px;
    border:2px solid rgb(81, 180, 125);
    background-color: rgb(81, 180, 125); 
    color: white;
    
}
input{
    margin-top: 30px;
    height: 38px;
    width: 180px;
    margin-left: 10px;
    border:2px solid  rgb(81, 180, 125);
    text-align: center;
}
.tbn:hover{
    background-color:white ; 
    color:rgb(81, 180, 125)

}
.btn:hover{
    background-color: rgb(81, 180, 125); 
    color: white;
     
}
.part1{
    width: 20%;
    height: 200px;
}